<!DOCTYPE html>
<html>
<head>
    <title>Postcode Lookup</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <header>
        <p id="github-title">
            Made by Tanvir
            <a href="https://github.com/TanvirMiah/post_code_search">
                <img id="github-logo" src="../static/github-mark.png" alt="GitHub logo" width="20" height="20">
            </a>
        </p>
    </header>
    <h1 style="text-align: center;">Postcode Constituency Lookup</h1>
    <div class="search-container">
        <form id="lookup-form">
            <input type="text" 
                   id="postcode" 
                   name="postcode" 
                   placeholder="Enter postcode"
                   required>
            <button type="submit">Look up</button>
        </form>
    </div>
    <div id="result" class="result" style="display: none;"></div>

    <script src="/static/script.js"></script>
</body>
</html>